<section class="logocontainer">
        <img class="headerlogo" src="/app/assets/images/Logo.png">
</section>

<section class="gradient cardCont bucketlistpage">
    <div class = "card" ng-repeat="favorites in $ctrl.favoriteList track by $index">
        <img class ="event-image" src="{{ favorites.images[1].url}}">
        <p class="event-title">{{ favorites.name }}</p>
        <p class="event-date">{{ favorites.dates.start.localDate }}</p>
        <p class="event-venue">{{ favorites._embedded.venues[0].name }}</p>
       <button class="details delete" ng-click="$ctrl.deleteItem(favorites)">Delete</button>
    </div>
</section>