
<!-- TODO : MAKE SURE ALL OBJECTS MATCH!!! -->

<h1>ollly</h1>

<form ng-submit="$ctrl.setSearchCriteria($ctrl.searchCriteria)">
   <input ng-model="$ctrl.searchCriteria.keyword" type="text"> 
   <button>

   </button>
</form>

<button>All events</button>
<button ng-click="$ctrl.hideSection()">Filter results</button>

<section ng-if="$ctrl.showFilter">

  <button>Filter results</button>
   <form>
      <button ng-click="$ctrl.searchCriteria.range=10" type="button">10 miles</button>
      <button ng-click="$ctrl.searchCriteria.range=50" type="button">50 miles</button>
      <button ng-click="$ctrl.searchCriteria.range=100" type="button">100 miles</button>
      <input ng-model="$ctrl.searchCriteria.startDate" type="date"/>
      <input ng-model="$ctrl.searchCriteria.endDate" type="date"/>
   </form>
</section>
<p>Looking for results in: {{ city / zip }}</p> <button>star</button>
